    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'techpit動画', root_path, class: "navbar-brand" %>      

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <%= link_to '新規作成', new_post_path, class: "btn btn-secondary" %>
        </form>
      </div>
    </nav>
